#movieSlider .owl-next,
#movieSlider .owl-prev {
    background-color: rgba(194, 191, 191, 0.3) !important;
    color: #ccc;
    width: 35px !important;
    height: 100px !important; 
    font-size: 25px !important;
    position: absolute;
}

#movieSlider .owl-next {
    right: 1%;
    top: 35%;
}

#movieSlider .owl-prev {
    left: -4%;
    top: 35%;
}

